.recommends {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 6em;
}

.title {
    margin-bottom: .5em;
}

.articles {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 2em;
}

.link {
    color: black;
}

.link:hover {
    text-decoration: none;
}

.card {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,.2);
    background-color: white;
    padding: 1.5em;
}

h3 {
    margin: 0;
}
