.search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5em 0em;
    background-image: url('./cloud.jpg');
    background-size: cover;
}

.title {
    color: #ffffff;
    margin-bottom: .5em;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 1.2em;
}

.tag {
    font-weight: bold;
    background-color: #ffffff;
    color: #0972d3;
    padding: .5em 2em;
    border: 2px solid #0972d3;
    border-radius: 40px;
    margin: 0 .2em;
}

.tag:hover {
    text-decoration: none;
    color: #033160;
    border-color: #033160;
}
